<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1 class="d-inline">Property</h1>
              <a routerLink="/seneca/add-property" class="btn btn-info btn-sm btn-flat d-inline-block ml-2 mt-n2 elevation-2 text-white">Add Property</a>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a routerLink="/seneca/home">Home</a></li>
                  <li class="breadcrumb-item active">Property</li>
              </ol>
          </div>
      </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">
                          DataTable with minimal features &amp; hover style
                      </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                          <div class="row">
                              <div class="col-sm-12 col-md-6"></div>
                              <div class="col-sm-12 col-md-6"></div>
                          </div>
                          <div class="row">
                              <div class="col-sm-12">
                                  <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                      <thead>
                                          <tr>
                                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                                  Property ID
                                              </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                  Body Of Water
                                              </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                                  Expire Status
                                              </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">
                                                Property Record
                                              </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                  TAX ID
                                              </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                Address
                                            </th>
                                          </tr>
                                      </thead>
                                      <tbody>


                                          <tr *ngFor="let item of collection">
                                              <!-- <tr> -->
                                              <td>{{ item.property_id }}</td>
                                              <td>{{ item.body_of_water }}</td>
                                              <td>{{ item.expired_status }}</td>
                                              <td>{{ item.property_record }}</td>
                                              <td>{{ item.tax_id }}</td>
                                              <td>{{ item.address_street_911 }}</td>

                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->

              <!-- /.card -->
          </div>
          <!-- /.col -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
